name: Deploy to GitHub Pages

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Prepare publish directory
        run: |
          TAG_NAME=$(echo "${{ github.event.release.tag_name }}" | tr '[:upper:]' '[:lower:]')
          
          # Создаем директорию по версии
          mkdir -p ./ghpages/$TAG_NAME
          
          # Копируем главную страницу
          cp ./index.html ./ghpages/$TAG_NAME/
          
          # Копируем файлы из папок en и ru
          cp -r ./en/* ./ghpages/$TAG_NAME/en/
          cp -r ./ru/* ./ghpages/$TAG_NAME/ru/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ghpages
          keep_files: true
